
/*1150px */
@media(max-width: 1150px){
    .container{
    padding: 0 40px;
}

.aboutContent .img_section{
    width: 100%;
}

.aboutContent .img_section img{
    display: block;
    margin: auto;
}


#services .card_content{
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 2rem;
}
}

@media(max-width: 905px){
    .btn{
    display: block;
}

nav{
    position: fixed;
    flex-direction: column;
    min-width: 280px;
    min-height: 80vh;
    top: 0 ;
    right: -100%;
    background: var(--darkcolor);
    padding: 0.4rem 2.5rem;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.5s ease;
}


nav.active{
    right: 0%;
    transition: all 1s ease-in-out;
}
nav li{
    list-style: none;
    margin-top: 2rem;

}

header nav .close-btn{
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
}


/* Hero Section */
#hero .content_manage{
    grid-template-columns: repeat(2, 1fr);
    text-align: center;

   
}
#hero .content_manage img{
    display: none;
}

#hero .hero_content .txt_content{
    display: flex;
    justify-content: center;
}

#hero .hero_content .txt-1{
    font-size: 2.3rem;
}

#hero .hero_content .txt-2{
    font-size: 3.7rem;
    
}

#hero .hero_content .normaltxt{
    font-size: 2.7rem;
}

#hero .hero_content .changetxt {
    font-size: 2.7rem;
   
}

/* about resp start*/
section{
    padding: 3.5rem 0;
}


.aboutContent{
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}

#about .title {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

#about .title::before{
    content: '';
    width: 15rem;
    height: 4px;
    background: var(--secondarycolor);
    position: absolute;
    top: 65%;
}

.aboutContent .img_section img{
    width: 350px;
    height: 350px;
}



/* About resp  Section End */


/* Services SEction Start */

#services .card_content{
    grid-template-columns: repeat(1,1fr);
   
}

/* Services Section End */


/* skills resp start */

.skills_container{
   /* display: flex; */
   grid-template-columns: repeat(1, 1fr);
   grid-row-gap: 3rem;
}

/* skills resp End */


/* Contact SEction Start */

#contact .contact_container{
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
}


/* Contact SEction Start */
}