@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Ubuntu:wght@400;500&display=swap');

:root{
    --primarycolor: #17202a;
    --secondarycolor: #089e47;
    --lightcolor: #f4f4f4;
    --white: #fff;
    --darkcolor: #041a31;

}

html{
    scroll-behavior: smooth;
}

.headings{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 3.8rem;
    padding-bottom: 3.8rem;
    position: relative;
}


.headings-white{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 3.8rem;
    padding-bottom: 3.8rem;
    position: relative;
    color: #fff;
}

.headings::before{
    content: '';
    width: 13.5rem;
    height: 4px;;
    background: var(--secondarycolor);
    position: absolute;
    top: 50%;
}

.headings-white::before{
    content: '';
    width: 13.5rem;
    height: 4px;;
    background: var(--secondarycolor);
    position: absolute;
    top: 50%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 70px;
}

/* header start */

header{
    width: 100%;
    position: fixed;
    z-index: 1000;
}

header .stickey{
    background: var(--darkcolor); 

}

.logo  h2 span{
    font-size: 3rem;
}

.navbar .logo a{
    color: var(--secondarycolor);
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0;
    background: var(--primarycolor);
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 0.4rem;
}

nav li a{
    color: var(--white);
    padding: 0.6rem 0.8rem;
    border-radius: 04px;
    transition: all 1s ease;

}

nav li a:hover{
    background: var(--secondarycolor);
    color: var(--white);
}


.btn{
    font-size: 1.7rem;
    color: var(--white);
    cursor: pointer;
    display: none;
}

/* header End*/



/* hero start */

#hero{
    width: 100%;
    min-height: 100vh;
    background: var(--primarycolor);
}

#hero .content_manage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100vh;
    align-items: center;
    color: var(--white);
}

#hero .hero_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#hero .hero_content .txt_content{
    display: flex;
}

#hero .hero_img{
    max-width: 75%;
    border-radius: 50% 0% 50% 0%;
    background: var(--lightcolor);
}

#hero .content_manage img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#hero .hero_content .txt-1{
    font-size: 2.5rem;
}

#hero .hero_content .txt-2{
    font-size: 4.5rem;
    font-weight: 500;
    letter-spacing: 5px;
    margin-left: -04px;
}

#hero .hero_content .normaltxt{
    font-size: 3.5rem;
    margin-right: 0.5;
}

#hero .hero_content .changetxt {
    font-size: 3.5rem;
    font-weight: 600;
   /* margin: 0.6rem 0;*/
    color: var(--secondarycolor);
    position: relative;
}
/* hero End */
/* changing txt start */

#hero .hero_content .changetxt ::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(65, 224, 17, 0.1);
    animation: animate3 5s steps(25) infinite;

}

@keyframes animate3{
    3%{
        right: 0;
    }
    30%{
        right: 100%;
    }
    80%{
       right: 100%;
    }
    100%{
        right: 0;
    }
}

/* changing txt End */


/* About Section Start */

section{
    padding: 13rem 0;
}


.aboutContent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}



.aboutContent .img_section{
    width: 30%;
}

.aboutContent .img_section img{
    width: 450px;
    height: 450px;
    object-fit: cover;
    display: block;
    border-radius: 5%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.content_section{
    padding: 2.5rem 0;
}

.header_content{
    display: flex;
    font-size: 2.5rem;
    font-weight: 500;
}

.content_section p{
    padding: 1rem 0;
    text-align: justify;
    line-height: 1.6;
    font-size: 1.2rem;
}

.content_section .about_txt, p{
    margin-right: 0.6rem;
}
.content_section button{
    padding: 0.5rem 0.7rem;
    border: 1px solid var(--secondarycolor);
    color: var(--white);
    background: var(--secondarycolor);
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .6s ease;
}

.content_section button:hover{
    background: none;
    border: 1px solid #27ae60;
    padding-left: 0.5rem 1rem;
    color: #000;
}


/* About Section End */



/* Services setion Start*/


#services{
    background: var(--primarycolor);
}

#services .card_content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    text-align: center;
    grid-column-gap: 1rem;
}

#services .card_content .cards{
    background: var(--darkcolor);
    padding: 2rem;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
}

#services .card_content .cards i{
    color: var(--secondarycolor);
    font-size: 2.5rem;
    padding: 1.5rem;
}

#services .card_content .cards h2{
    font-size: 1.5rem;
    padding: 1rem;
}

#services .card_content .cards p{
    font-size: 1.rem;
    line-height: 1.6;
    text-align: ju;
}

#services .card_content .cards button{
    display: inline-block;
    padding: 0.7rem 0.6rem;
    margin: 1.5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background: #000;
    color: var(--white);
    transition: all 0.6s ease;
}

#services .card_content .cards:hover{
    transform: translateY(-10%);
    background: var(--lightcolor);
    color: #263238;
}
/* Services Section End */


/* Skills Section start */


.skills_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    width: 100%;

}

.skill_content h2{
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.skill_content p{
    font-size: 1rem;
    text-align: justify;
    line-height: 1.8;
}

.skill_progress .info{
    display: flex;
    justify-content: space-between;
    line-height: 1.8;
}

.skill_progress .progress{
    margin-bottom: 1rem;

}

.skill_progress .info span{
    font-size: 1.2rem;
    font-weight: 500;
}

.skill_progress .line_css{
    height: 0.3rem;
    width: 100%;
    background: var(--lightcolor);
    margin: 0.5rem 0;
    position: relative;
}

.skill_progress .line_css::before{
    content: '';
    position: absolute;
    width: 90%;
    height: 100%;
    background: var(--secondarycolor);
    left: 0;
    top: 0;
}

.skill_progress .html::before{
    content: '';
    position: absolute;
    width: 99%;
    height: 100%;
    background: var(--secondarycolor);
    left: 0;
    top: 0;
}


.skill_progress .css::before{
    content: '';
    position: absolute;
    width: 99%;
    height: 100%;
    background: var(--secondarycolor);
    left: 0;
    top: 0;
}

.skill_progress .js::before{
    content: '';
    position: absolute;
    width: 70%;
    height: 100%;
    background: var(--secondarycolor);
    left: 0;
    top: 0;
}


.skill_progress .reactjs::before{
    content: '';
    position: absolute;
    width: 75%;
    height: 100%;
    background: var(--secondarycolor);
    left: 0;
    top: 0;
}

.skill_progress .mysql::before{
    content: '';
    position: absolute;
    width: 95%;
    height: 100%;
    background: var(--secondarycolor);
    left: 0;
    top: 0;
}

.skill_progress .java::before{
    content: '';
    position: absolute;
    width: 60%;
    height: 100%;
    background: var(--secondarycolor);
    left: 0;
    top: 0;
}

.skill_progress .springboot::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--secondarycolor);
    left: 0;
    top: 0;
}

.skill_progress .bootstrap::before{
    content: '';
    position: absolute;
    width: 99%;
    height: 100%;
    background: var(--secondarycolor);
    left: 0;
    top: 0;
}


/* Skills Section End */



/* Teams Section start */

#myteams{
    width: 100%;
    background: var(--primarycolor);
}



#myteams .card_container img{
    width: 40%;
    display: block;
    border-radius: 50%;
    border: 3px solid var(--secondarycolor);
    object-fit: cover;
    margin: auto;
}

#myteams .card_container{
    display: flex;
    text-align: center;
    margin-bottom: 3rem;
}

#myteams .card_container  .cards{
    background: var(--darkcolor);
    padding: 2rem;
    color: var(--white);
    border-radius: 10% 0 10% ;
}

#myteams .card_container .cards h2{
    padding: 1rem 0;
}

#myteams .card_container .cards p{
    text-align: justify;
}


/* Teams Section End */


/* Cantact Start  */

#contact .title{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 3.8rem;
    padding-bottom: 3.8rem;
    position: relative;
    
}

#contact .title::before{
    content: '';
    width: 18rem;
    height: 4px;;
    background: var(--secondarycolor);
    position: absolute;
    top: 50%;
}

#contact .contact_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

#contact .contact_container h3{
    font-size: 2rem;
    padding-bottom: 2rem;
}

#contact .contact_container .contact_content > p{
    font-size: 1.1rem;
    padding-bottom: 2rem;
    line-height: 1.8;
    text-align: justify;
}

#contact .contect_info{
    display: flex;
}

#contact  .contect_info i{
    font-size: 1.8rem;
    color: var(--secondarycolor);
    margin-right: 2rem;
    margin-bottom: 3rem;
}

#contact .contect_info span{
    font-size: 1.2rem;
    color: #797d7f;
}

#contact .contect_info p{
    font-size: 1.1rem;

}

#contact .contact_form input,textarea{
    width: 100%;
    padding: 0.6rem 1rem;
    margin-bottom: 0.4rem;
    font-size: 1.1rem;
}

#contact .contact_form button{
    margin-top: 1rem 0;
    padding: 0.7rem 0.7rem;
    border: 1px solid var(--secondarycolor);
    outline: none;
    background: inherit;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: all 0.5s ease;

}

#contact .contact_form button:hover{
    color: var(--white);
    background: var(--secondarycolor);
    
}



/* Cantact End */


/* Footer Section Start  */

footer{
    background: var(--darkcolor);
    color: #fff;
    text-align: center;
    padding: 1.8rem 0;
}

footer a {
    background: var(--darkcolor);
    color: var(--secondarycolor);
    text-align: center;
    padding: 1.8rem 0;
    font-size: 1.1rem;
}

/* Footer Section END  */


